OWNER=123456789

DATABASE_NAME=db
DATABASE_USER=postgres
DATABASE_PASSWORD=password
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_POOL_SIZE=10

REDIS_PORT=6380
REDIS_HOST=localhost
REDIS_USER=user
REDIS_PASSWORD=password

BOT_TOKEN=token

GAME_ROUND_LENGTH=600