BOT_OWNER=
BOT_TOKEN=
BOT_THROTTLE=0.5
BOT_THROTTLE_CACHE_MAXSIZE=128

DATABASE_NAME=db
DATABASE_USER=postgres
DATABASE_PASSWORD=password
DATABASE_HOST=db
DATABASE_OUTER_PORT=5434
DATABASE_INNER_PORT=5432
DATABASE_POOL_SIZE=10

REDIS_OUTER_PORT=6380
REDIS_INNER_PORT=6379
REDIS_HOST=redis
REDIS_DB=0
REDIS_PASSWORD=password

WEB_APP_URL=

NGROK_AUTHTOKEN=
NGROK_DOMAIN=

DJANGO_SECRET_KEY=
DJANGO_HOST=0.0.0.0
DJANGO_PORT=8080


# game variables (remove if you don't change it)

GAME_ROUND_LENGTH=600
GAME_ROUND_NUM=6
GAME_INVENTION_COST=500
GAME_INVENTION_ECO_IMPACT=-2
GAME_CREATE_COST=150
GAME_CREATION_ECO_IMPACT=-2
GAME_DEVELOPMENT_BOOST=20
GAME_DEVELOPMENT_COST=150
GAME_SHIELD_COST=300
GAME_ATTACK_COST=1
GAME_ATTACK_ECO_IMPACT=-2
GAME_ECO_COST=1
GAME_SANCTIONS_COST=0
GAME_DEFAULT_GAME_ECO_RATE=95
GAME_DEFAULT_BALANCE=1000
GAME_DEFAULT_DEVELOPMENT=60
GAME_ECO_BOOST_RATE=20
GAME_INCOME_COEFFICIENT: float =3
GAME_MAX_METEORITES_TO_BUY=3
GAME_SANCTIONS_IMPACT: float =0.6
GAME_TIME_WAITING_AMOUNT_ANSWER=30
