{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Результаты раунда</title>
    <link rel="stylesheet" href="{% static 'stats/style.css' %}">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body data-api-url="{% url 'stats_api' game_id round_num %}">

    <div id="loader" class="state-message">
        🚀 Загрузка данных раунда...
    </div>

    <div id="main-content" class="hidden">
        <h3 class="title"><strong>Космическое господство 🚀</strong></h3>
        <div class="wrapper">
            <div class="panels" id="panels-container"></div>
            <div class="chart-wrapper">
                <div class="hist-name">Уровень жизни на планетах</div>
                <div class="chart" id="chart-container"></div>
                <div class="eco" id="eco-container"></div>
            </div>
        </div>
    </div>

    <script src="{% static 'stats/main.js' %}"></script>
</body>
</html>